@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:wght@400;700&family=Quantico:wght@700&display=swap');

*{
    font-family: 'Andika New Basic', sans-serif;
    font-weight: bold;
}
.coin_container_app {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 10px;
    row-gap: 15px;
}
.App {
    text-align: center;
}